.wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    width: 300px;
    min-height: 500px;
    padding: 10px;
  }
}
.header {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    padding: 0.5rem;
    font-size: 1rem;
    background: #ffffff;
  }
  &__button {
    padding: 0.5rem;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: #4235b8;
    }
  }
}

.todo-container {
  &__list {
    min-width: 50%;
    list-style: none;
  }
}

.todo {
  margin: 0.5rem;
  background: #ffffff;
  color: #000000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease;
  &__item {
    flex: 1;
    width: 220px;
    margin: 0 12px;
  }
  &__button {
    background: #ffffff;
    border: none;
    padding: 0.4rem;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    cursor: pointer;
    &--complete {
      &:hover {
        color: #1fcf28;
      }
    }
    &--trash {
      &:hover {
        color: #da1616;
      }
    }
  }
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.2;
}
