.wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 1.5rem;
  }
}
.form {
  &__input {
    padding: 0.5rem;
    font-size: 1rem;
    // border: none !important;
    background: #ffffff;
  }
  &__button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: #4235b8;
    }
  }
}

.todo-container {
  &__list {
    min-width: 50%;
    list-style: none;
  }
}

.todo {
  margin: 0.5rem;
  background: #ffffff;
  color: #000000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    flex: 1;
    width: 200px;
  }
  &__completeBtn,
  &__trashBtn {
    background: #ffffff;
    border: none;
    padding: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
